.card {
    background-color: #814db3 !important;
    color: whitesmoke !important;
    font-size: 1.30rem !important;
    
}

.containerPortfolio {
    background: linear-gradient(320deg, #e722a5, #000000, #be22ec);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.link{
    color: #4b1a79 !important;
    background-color: #ffffff;
    border-radius: 32px;
}

.link:hover{
    color: white !important;
    background-color: #4b1a79;
    border-radius: 32px;
    padding: 5px;
    transition: 0.7s;
}
