.card {
    font-size: 1.30rem !important;
    
}

.containerPortfolio {
    background-color: rgb(48, 44, 44);
}

.link{
    color: #4b1a79 !important;
    background-color: #ffffff;
    border-radius: 32px;
}

.link:hover{
    color: white !important;
    background-color: #4b1a79;
    border-radius: 32px;
    padding: 5px;
    transition: 0.7s;
}
